<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net452" />
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net452" />
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
  <package id="NEventStore.Persistence.MongoDB" version="5.3.7" targetFramework="net452" />
  <package id="NEventStore.Serialization.Json" version="4.1.0.10" targetFramework="net452" />
  <package id="TinyMessenger" version="1.0" targetFramework="net452" />
</packages>